orsted-client
orsted-server

orsted.history
my.db

*.exe
*.h
*.dll
*.zip
*.ps1
*.shellcode
main_http
main_https
main_tcp

tools/compiled-modules/windows/*.dll
tools/compiled-modules/windows/*.h

tools/compiled-modules/linux/*.so
tools/compiled-modules/linux/*.h
tools/donut.shellcode
tools/batcave.json

data/cert.pem
data/key.pem




