orsted-client
orsted-server

my.db

*.exe
*.dll
main_http
main_https
main_tcp

tools/compiled-modules/windows/*.dll
tools/compiled-modules/windows/*.h

tools/compiled-modules/linux/*.so
tools/compiled-modules/linux/*.h
tools/donut.shellcode
tools/batcave.json

data/cert.pem
data/key.pem



*.ps1

orsted.history
